/* :root{
    --abu
} */

*{
    font-family: 'Poppins', sans-serif;
}
h2, h5{
    font-weight: bold;
}
.red{
    color: #d70037;
}
.abu{
    color: #f1f1f1;
}
.dark{
    color: #004754;
}
.btn-dark, .bg-dark{
    background-color: #004754 !important;
    color: white !important;
}
.btn-dark:hover{
    background-color: #d70037 !important;
    color: white;
    border-color: #d70037;
}
.btn-abu, .bg-abu:hover{
    background-color: #f1f1f1 !important;
    color: #004754;
}
.nav-item{
    position: relative;
    text-align: center;
}
.nav-link::after {
    content: '';
    position: absolute;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #d70037;
    height: 2px;
    width: 0;
    left: 0;
    bottom: 1px;
    transition: 0.3s;
}
.nav-link:hover {
    color: #d70037;
}
.nav-link:hover::after {
    width: 50%;
}
.nav-item > .active{
    color: #d70037 !important;
}
.nav-item > .active::after{
    content: '';
    position: absolute;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #d70037;
    height: 2px;
    width: 50%;
    left: 0;
    bottom: 1px;
}
.btn-big {
    padding: 1rem 1.3rem;
    border-radius: 1.3rem;
    display: inline-block;
}
#services{
    background-color: #f7f8fc;
}
.card{
    border: none;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 2rem;
}
.card-body
{
    padding: 0;
}
.carousel-indicators  .active{
    background-color: brown !important;
}
.carousel-indicators button{
    border-radius: 50%;
}
#testimonial{
    background-color: #004754;
}