*{
    font-family: 'Poppins', sans-serif;
}
.red{
    color: #d70037;
}
.abu{
    color: #f1f1f1;
}
.bg-dark{
    background-color: #004754 !important;
    color: white;
}
.bg-dark:hover{
    background-color: #d70037 !important;
    color: white;
}
.bg-abu, .bg-abu:hover{
    background-color: #f1f1f1 !important;
    color: #004754;
}
.nav-item{
    position: relative;
}
.nav-link::after {
    content: '';
    position: absolute;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #d70037;
    height: 2px;
    width: 0;
    left: 0;
    bottom: 1px;
    transition: 0.3s;
}
.nav-link:hover {
    color: #d70037;
}
.nav-link:hover::after {
    width: 50%;
}
.nav-item > .active{
    color: #d70037 !important;
}
.nav-item > .active::after{
    content: '';
    position: absolute;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #d70037;
    height: 2px;
    width: 50%;
    left: 0;
    bottom: 1px;
}
.btn-big {
    padding: 1rem 1.3rem;
    border-radius: 1.3rem;
}